@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

html, body {
	font-family: 'Noto Sans TC', sans-serif;
}

.dropdown-item {
	padding-top: .25rem !important;
	padding-bottom: .25rem !important;
}