/* header */
/* aside */
.dropdown-item {
	padding-top: .25rem;
	padding-bottom: .25rem;
}

/* sub-menu */
.nav-tabs .nav-link {
	padding: .75rem 1rem;
}

/* form */
legend {
	font-size: 1.25rem;
	font-weight: 400;
}

/* footer */
.copyright {
	font-size: .75rem;
	color: gray;
}