/* header */
/* aside */
.dropdown-item {
	padding-top: .25rem;
	padding-bottom: .25rem;
}

/* settings/ */
/* sub-menu */
.nav-tabs .nav-link {
	padding: .75rem 1rem;
}

/* title */
.page-title::before {
	content: "\00a0";
	height: 100%;
	background-color: #337ab7;
	margin-right: 7px;
}

/* table */
.table {
	white-space: nowrap; /* 強制不換行 */
}

.table>tbody>tr>td {
	vertical-align: middle;
}

/* form */
.card-header {
	font-weight: 400;
}

/* settings/securities-account */
#securities-account-table .btn-lg {
	padding: .5rem;
}

/* stock/list */
#stock-list-table th {
	font-weight: 500;
}

#stock-list-table, #stock-list-table th, #stock-list-table td {
	border: 1px solid #e8e8e9;
}

/* stock/inventory/add */
.not-show {
	display: none;
}

/* footer */
.copyright {
	font-size: .75rem;
	color: gray;
}