html, body {
	margin: 0;
	background-color: #fafafa;
	font-size: 14px;
}

img {
	width: 100%;
}

.top {
	width: 310px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.top>.title {
	color: #000000;
	text-align: center;
}

.top>.title>h3 {
	margin: 0;
	display: inline-block;
}

.alert {
	width: 310px;
	padding: 15px 20px 15px 20px;
	border-radius: .4rem;
}

.alert>span {
	font-size: 92%;
}

.alert>.close {
	font-size: 90%;
	position: absolute;
	top: 4px;
	right: 4px;
}

.form {
	width: 310px;
	padding: 20px;
	border: #ddd 1px solid;
	border-radius: .4rem;
	background-color: white;
}

.form .sign-in-google>img {
	border-radius: .4rem;
	cursor: pointer;
}

.form .sign-in-google>img:hover {
	filter: grayscale(25%);
}

.form p, .form a {
	font-size: 92%;
}

.bottom {
	width: 310px;
	margin-top: 20px;
}

.bottom>.sign-in, .bottom>.sign-up {
	text-align: center;
}

.bottom>.sign-in>span, .bottom>.sign-up>span {
	display: inline-block;
}

.error {
	color: red;
}