html, body {
	background-color: #fafafa;
}

.top {
	width: 300px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.top>.title {
	color: #000000;
	text-align: center;
}

.top>.title>h3 {
	margin: 0;
	display: inline-block;
}

.alert {
	width: 300px;
	padding: 20px;
	border-radius: .4rem;
}

.form {
	width: 300px;
	padding: 20px;
	border: #ddd 1px solid;
	border-radius: .4rem;
	background-color: white;
}

.bottom {
	width: 300px;
	margin-top: 20px;
}

.bottom>.sign-in, .bottom>.sign-up {
	text-align: center;
}

.bottom>.sign-in>span, .bottom>.sign-up>span {
	display: inline-block;
}